// Font Sizer — admin settings styles.

.FontSizerSettings-select {
  display: block;
  margin-top: 0.5rem;
}

.FontSizerSettings-reset {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
